page-profile {
  .avator-bg{
    background-color: #44afff;
    text-align: center;
    height: 200px;
    line-height: 200px;
  }
  .avator-bg img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top:36px;
  }
}
